.cart{
    margin-top: 100px;
    ;
}

.cart-items-title{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr 0.5fr;
    align-items: left;
    color: black;
    font-weight: 500;
    font-size: max(1vw, 12px);
}
.cart-items-title p{
    text-align: center;
    margin-top: 10px;
}
.cart-items-item{
    margin: 5px 5px;
    color: black;
}

.cart-items-item img{
    width: 50px;
    height: 50px;
    border-radius: 2px;
    display: block;
    margin: 8px auto;
}

.cart hr{
    display: flex;
    width: 100%;
    height: 1px;
    margin: 12px 0;
    background-color: rgba(0,0,0,0.08); /* subtle visible divider */
    border: none;
}

.cart-items-item .cross{
    cursor: pointer;
}

.cart-bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    gap: max(12vw, 20px);
}

.cart-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart-total-details{
    display: flex;
    justify-content: space-between;
    color: #262626;
}

.cart-total hr{
    margin: 10px 0px;
}

.cart-total button{
    border: black 1px solid;
    padding: 10px 20px;
    background-color: black;
    color: white;
    font-size: 16px;
    border-radius: 50px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

.cart-total button:hover{
    background: white;
    color: black;
}


.cart-promocode{
    flex: 1;
}

.cart-promocode p{
    color: #555
}

.cart-promocode-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eaeaea;
    margin-top: 10px;
    border-radius: 5px;
}

.cart-promocode-input input{
    background: transparent;
    border: none;
    outline: none;
    padding-left: 10px; 
}

.cart-promocode-input button{
    width: max(10vw, 150px);
    padding: 12px 5px;
    background: black;
    color: white;
    border: black 1px solid;
    border-radius: 5px;
}
.cart-promocode-input button:hover{
    background: white;
    color: black;
}

@media (max-width: 750px) {
    .cart-bottom{
        flex-direction: column-reverse;

    }
    .cart-promocode{
        justify-content: start;
    }
}
